/* TOUT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #F7A615;
    transition: 0.3s;
}

@font-face {
    font-family: "Recoleta-Medium";
    src: url("/font/Recoleta-Medium.ttf") format("ttf")
}

body {
    /*background-image: url(../img/fond1.3.svg);*/
    background: rgb(2,0,36);
background: linear-gradient(145deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgb(44, 123, 131) 100%);
    color: white;
    width: 100%;
}

/* Barre de navigation desktop */

.nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: 0.7s;
}

.nav-scoll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0D1330;
    z-index: 5;
    transition: 0.7s;
}

.nav-img {
    width: 150px !important;
}

.nav-links-desktop {
    display: flex;
    flex-direction: row;
    justify-content: end !important;
}

.nav-link-desktop {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 2% !important;
    color: white;
    transition: 0.3s;
}

.nav-link:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #F7A615;
    transition: 0.3s;
}

/* Barre de navigation mobile */

.nav-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0D1330;
    z-index: 5;
    padding: 1%;
}

.nav-links-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.nav-link-mobile {
    margin-left: 5%;
    margin-right: 5%;
}

/* INDEX.HTML */

/* Section 1 */

.s1 {
    align-items: center;
}

.s1-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 40px;
    color: #F7A615;
}

.s1-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
}

/* Section 2 */

.s2 {
    align-items: center;
    margin-top: 5%;
}

.s2-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 35px;
    color: #F7A615;
    text-align: center;
}

.s2-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
    text-align: center;
}

.s2-card {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    border-radius: 10px;
}

.s2-little-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.s2-little-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    margin-top: 2%;
}

/* Section 3 */

.s3 {
    margin-top: 5%;
    align-items: center;
}

.s3-title, .f-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 35px;
    color: #F7A615;
}

.s3-p, .f-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
    text-align: justify;
}

.f-title, .f-p {
    text-align: center;
}

.figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.figure > li {
    margin-left: 3%;
}

/* Section 4 */

.s4-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 35px;
    color: #F7A615;
    text-align: center;
    margin-top: 5%;
}

.s4-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
    text-align: center;
}

.line {
    margin-top: 2%;
}

.s4-card {
    padding: 3%;
    text-align: center;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 4%;
}

.card-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    margin-top: 4%;
}

/* Section 5 */


.s5-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 35px;
    color: #F7A615;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.s5-p1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 3%;
    text-align: start;
}

.s5-p2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 3%;
    text-align: start;
}

.article {
    text-align: center;
}

.btn-article {
    background-color: #0D1330;
    color: #F7A615;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 3%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-article:hover {
    background-color: #F7A615;
    color: #0D1330;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 3%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
    body {
        padding-bottom: 10%;
    }
    .s1 {
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
    }

    .s2 {
        justify-content: center;
        padding-left: 2%;
        padding-right: 2%;
    }

    .s3 {
        padding-left: 2%;
        padding-right: 2%;
    }

    .s5 {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding-bottom: 20%;
    }

    .auto, .s4-card {
        text-align: center;
        margin: auto;
    }

    .s2-little-title, .s2-little-p {
        text-align: center;
    }

    .s2-title, .s3-title, .s4-title, .s5-title, .f-title {
        font-size: 30px;
    }

    .s1-p, .s2-p, .s3-p, .s4-p, .f-p {
        font-size: 15px;
    }
}

/* SERVICE.HTML */

.service-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 40px;
    color: #F7A615;
    text-align: center;
}

.service-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
    text-align: center;
}

.service-line {
    justify-content: center;
    margin: auto;
}

.service-card {
    background-color: #0D1330;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    text-align: center;
}

.service-card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 4%;
    transition: 0.5s;
}

.service-card-title:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 4%;
    color: #F7A615;
    transition: 0.5s;
}

.service-card-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify !important;
    margin-top: 4%;
    margin-bottom: 4%;
}

.service-card-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #F7A615;
}


@media only screen and (max-width: 768px) {
    .auto-s {
        text-align: center;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

/* SERVICE PAGE SINGLE */

.s-service-1 {
    align-items: center;
    margin-top: 5%;
}

.s-service-2 {
    align-items: center;
    margin-top: 10%;
}

.s1-service-title, .s2-service-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 35px;
    color: #F7A615;
}

.s1-service-pbold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: justify;
    margin-top: 6%;
    margin-bottom: 3%;
}

.s1-service-p, .s2-service-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    margin-top: 3%;
    margin-bottom: 3%;
}

.check-point {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0D1330;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.check-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 3%;
}

@media only screen and (max-width: 1024px) {
    .s-service-1, .s-service-2 {
        padding: 2%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding-bottom: 20%;
    }

    .auto {
        text-align: center;
        margin: auto;
    }

    .check-point {
        padding-left: 5%;
    }

    .s1-service-title, .s2-service-title {
        font-size: 30px;
    }

}

/* CREATION.HTML */

.creation-card {
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}

.crea-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 40px;
    color: #F7A615;
    text-align: center;
}

.crea-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
    text-align: center;
}

.crea-card {
    padding: 0% !important;
    margin-left: 3%;
    background-color: #0D1330;
    border-radius: 15px;
}

.crea-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.crea-little-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.crea-little-title:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #F7A615;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.crea-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
}

.crea-page {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #F7A615;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    min-width: 3em !important;
    margin-left: 1%;
    transition: 0.3s;
}

.crea-page:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #0D1330;
    background-color: #F7A615;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    min-width: 3em;
    margin-left: 1%;
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {
    body {
        padding-bottom: 20%;
    }

    .auto {
        text-align: center;
        margin: auto;
    }

    .crea-title {
        font-size: 30px;
    }

    .crea-p {
        font-size: 15px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .crea-card {
        margin-top: 5%;
    }

    .crea-little-title {
        padding-bottom: 3%;
    }
}

@media only screen and (max-width: 407px) {
    .crea-page {
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {
    .crea-page {
        font-size: 12px;
    }
}

/* CREATION PAGE SINGLE */

.project-title {
    font-family: "Recoleta-Medium", serif;
    font-size: 40px;
    color: #F7A615;
    text-align: center;
}

.project-tag {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 2%;
    text-transform: uppercase;
    color: #F7A615;
}

.project-little-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 2%;
}

.project-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 2%;
    text-align: justify;
}

.project-title-fact {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
    text-align: center;
}

.project-fact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
}

.project-p-fact {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 2%;
}

@media only screen and (max-width: 1024px) {
    body {
        padding-bottom: 20%;
    }

    .auto {
        margin: auto;
        text-align: center;
    }

    .project-fact {
        justify-content: center;
    }
}

/* FOOTER */

.wave {
    width: 100%;
}

.footer {
    background-color: #F7A615;
    width: 101%;
    padding-top: 10%;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #0D1330;
    text-align: center;
    margin-bottom: 3%;
}

.footer-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;
}

.footer-link > a:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #0D1330!important;
    transition: 0.3s;
}
